//VARIABELEN ---------------------------------------------
$myOrange:#f26c4f;
$myBackground:#020312;
$myLightGrey:#12141c;
$myDarkGrey:#0a0c17;

//LETTERTYPES --------------------------------------------
@font-face {
  font-family: poppins-sb;
  src: url('src/webfonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: roboto-md;
  src: url('src/webfonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: titillium-sb;
  src: url('src/webfonts/TitilliumWeb-SemiBold.ttf');
}

//STARTING POINT ALL MOBILE DEVICES ----------------------
#bghero{
  background: url("../images/bg-hero.jpg") no-repeat center;
  background-size: cover;
}
.bg-selfer{
  background: $myBackground;
}
.bg-mylight{
  background-color: $myLightGrey;
}
.bg-mydark{
  background-color: $myDarkGrey;
}
h2{
  padding-top: 70px;
  font-size: 40px;
}
h3{
   margin-top: 15px;
   margin-bottom: 15px;
 }


#headercontent{
  margin-left: 35px;
}
#socials{
  li{
    svg{
      &:hover{
        fill: $myOrange;
      }
    }
  }
}
#arrowdown{
  background: $myOrange;
}
#myservices{
  article{
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: $myLightGrey;
  }
}
#articles{
  padding-left: 20px;
  padding-right: 20px;
}
#newarticles{
  justify-content: center;
}



//STARTING POINT LARGER DEVICES --------------------------
@media (min-width: 992px) {
  #logo{
    position: absolute;
  }
  .nav-link{
    border-top: 2px solid transparent;
    &:hover{
      border-top: 2px solid $myOrange;
    }
    &:active{
      border-top: 2px solid $myOrange;

    }
  }
  h1{
    font-size: 72px;
  }
  h2{
    font-size: 60px;
  }
  article{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: left;
  }
  #newarticles{
    justify-content: space-evenly;
  }

}




