//VARIABELEN ---------------------------------------------
$myOrange:#f26c4f;
$myDarkOrange:#d44729;
$myBackground:#020312;
$myLightGrey:#12141c;
$myDarkGrey:#0a0c17;

//LETTERTYPES --------------------------------------------
@font-face {
  font-family: poppins-sb;
  src: url('src/webfonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: roboto-md;
  src: url('src/webfonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: titillium-sb;
  src: url('src/webfonts/TitilliumWeb-SemiBold.ttf');
}

//STARTING POINT ALL MOBILE DEVICES ----------------------
#bghero{
  background: url("../images/bg-hero.jpg") no-repeat center;
  background-size: cover;
}
.bg-selfer{
  background: $myBackground;
}
.bg-mylight{
  background-color: $myLightGrey;
}
.bg-mydark{
  background-color: $myDarkGrey;
}
.w-20{
  width: 20%;
}
.w-60{
  width: 60%;
}
.w-80{
  width: 80%;
}
.w-90{
  width: 90%;
}
.top-40{
  top: 40%;
}
h2{
  padding-top: 70px;
  font-size: 40px;
}
h3{
   margin-top: 15px;
   margin-bottom: 15px;
 }
.orangetext{
  color:$myOrange;
  font-weight: bold;
  font-size: 20px;
}
.border-orange{
  border-bottom: 2px solid $myOrange;
}

#headercontent{
  margin-left: 35px;
}
#socials{
  li{
    svg{
      &:hover{
        fill: $myOrange;
      }
    }
  }
}
#arrowdown{
  background: $myOrange;
}
#myservices{
  article{
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: $myLightGrey;
  }
}
#articles{
  padding-left: 20px;
  padding-right: 20px;
}
#newarticles{
  justify-content: center;
}
.btn{
  border-radius: 0px;
  background: $myOrange;
  border: none;

  &:hover{
    background: $myDarkOrange;
  }
}
#hireMeBg{
  background: url("../images/bg-keyboard.jpg") no-repeat center;
  background-size: cover;
  background-color: darkgrey;
  background-blend-mode: multiply;
  h3{
    padding: 25px 0px;
  }
}
#hireMe{
  button{
    margin-top:-59px;
  }
}
#mySkills{
  button{
    border-radius: 0px;
    background: transparent;
    border: 2px white solid;

    &:hover{
      background: white;
      color: $myBackground;
    }
  }
}

.overviewbg{
  &__img{
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
}
.pOrange{
  font-size: 55px;
  color: $myOrange;
  font-weight: bold;
  padding: 0px 60px;
  margin: 0px;
}
.pLine{
  padding-top: 6px;
  font-size: 45px;
  color: darkgrey;
}
#myTestimonials{
  img{
    border-radius: 50%;
  }
}
.carousel-indicators {
  button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
  }
}
.carousel-inner{
 img{
   width: 130px;
 }
}


//STARTING POINT LARGER DEVICES --------------------------
@media (min-width: 992px) {
  #logo{
    position: absolute;
  }
  .nav-link{
    border-top: 2px solid transparent;
    &:hover{
      border-top: 2px solid $myOrange;
    }
    &:active{
      border-top: 2px solid $myOrange;

    }
  }
  h1{
    font-size: 72px;
  }
  h2{
    font-size: 60px;
  }
  article{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: left;
  }
  #newarticles{
    justify-content: space-evenly;
  }
  #myInfo{
    text-align: left !important;
  }
  #hireMeBg{
    h3{
      padding: 70px 0px;
    }
  }

}




